@charset "utf-8";

footer {
}

.footer_wrap{
    width: 100%;
    max-width: 1540px;
    margin: 0 auto;
    position: relative;
}

.footer_wrap .footer_pagelink{
    width: 100%;
    max-width: 1540px;
    height: 100px;
    min-height: 40px;
    background: #f7f7f7;
    padding: 15px 0;
    margin-top: 10px;
    box-sizing: border-box;
    position: relative;
    
   /* padding: 30px 0;
    min-height: 40px;
    background: #f7f7f7;
    margin-top: 10px;*/
}

.footer_page_wrap{
    
    width: 1568px;
    height: 40px;
    margin-left: -28px;
    box-sizing: border-box;
    position: absolute;
    top: 30%;
    
    
}

.footer_pagelink_box{
    width: 100%;
    max-width: 392px;
    height: 40px;
    padding: 0 40px 0 68px;
    box-sizing: border-box;
    float: left;
    background: url(../img/footer/footer-pagelink-bg.gif) left center no-repeat;
    
}

.footer_pagelink_box.first{
    background: none;
}

.footer_pagelink_box a{
    display: block;
    width: 100%;
    max-width: 392px;
    height: 40px;
    
}

.pagelink_bg{
    display: block;
    width: 30px;
    height: 30px;
}

.footer_pagelink_txtwrap{
    width: 100%;
    max-width: 284px;
    height: 40px;
    position: relative;
}

.footer_pagelink_txtwrap img{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

.txttablecll{
    padding-right: 55px;
    line-height: 40px
}

footer_top{

    border: 3px solid;
}

.footer_topbtn{
    right: 181.5px;
    width: 48px;
    height: 48px;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    background: #8cd3ff;
    line-height: 40px;
    float: right;
    z-index: 101;
    cursor: pointer;
    border: none;
}

.footer_info{
    font-size: 14px;
    margin-top: 80px;
    padding: 50px 0;
    border-top: 1px solid #e4e4e4;
}
.footer_box .siteInfo{
    display: block;
    /*float: left;*/
    padding: 15px 0 25px;
    vertical-align: middle;
}
.siteutil_footer ul li{
    display: inline;
    font-size: 11px;
    list-style: none;
}

.bar li ~ li::before{
    content : '|';
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.footlogo{
    padding-bottom: 20px;
    box-sizing: border-box;
}

.footlogo .img{
    width: 174px;
    vertical-align: top;
}

.copyright{
    display: block;
    padding-bottom: 25px;
    vertical-align: middle;
}

.footer_wrap .f_snsutil{
    position: relative;
  
    margin-top: -60px;
    text-align: center;
    min-height: 36px;
    box-sizing: border-box;
    
}

.f_snsutil a{
    margin-right: 0;
    padding-right: 8px;
    display: inline-block;
    
}

.f_snsutil a img{
    width: 32px;
    vertical-align: top;
}






































