@charset "utf-8";

header{
    height: auto;
    border-bottom: 2px solid #000000;
    display: block;
}
.header_wrap{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

header h1{
    width: 179px;
    height: auto;
    padding: 32px 0;
    position: relative;
    margin: 0 auto;
    z-index: 1;
}

header h1 a{
    display: block;
    height: auto;
    letter-spacing: 1.2;
    vertical-align: middle;
}

header h1 a img {
    width: 100%;
}

.snsutil{
    display: block;
    position: absolute;
    left: 30px;
    top: 30px;
    min-height: 36px;
}

.snsutil a{
    
    float: left;
    margin-right: 10px;
    display: block;
}

.snsutil a img{
    width: 32px;
    border: 0;
    vertical-align: top;
}

.siteutil{
    display: block;
    position: absolute;
    right: 30px;
    top: 40px;
    text-align: center;
}

.siteutil ul li{
    display: inline;
    font-size: 11px;
    list-style: none;
}


.siteutil ul li a{
    color: #444;
    text-decoration: none;
}

.header_gnb{
    width: 100%;
    position: relative;
    z-index: 9000;
    background: #fff;
}

.gnb{
    position: relative;
    display: block;
    padding: 10px 0 20px 0;
    top: 0;
    width: 100%;
    overflow: visible;
    left: 0;
    box-sizing: border-box;
}
.gnb ul{
    border-top: none;
}

.gnb_box{
    background: #fff;
    
}

.gnb ul.gnb_all{
    width: 100%;
    margin: 0 auto;
    display: table;
    text-align: center;
    border-top: none;
}

.dep1{
    width: auto;
    display: inline-block;
    padding: 0;
    margin: 0 15px;
    border-bottom: none;
    vertical-align: top;
}

.dep2{
    text-align: left;
}

.dep1 a{
    display: block;
    font-size: 16px;
    padding: 10px 0;
    letter-spacing: 0;
    height: 40px;
    line-height: 16px;
    position: relative;
}

.dep1 .dep1_icon{
    display: inline-block;
    width: 18px;
    margin-left: 3px;
    position: relative;
    top: -3px;
    border: 0;
    vertical-align: top;
    box-sizing: border-box;
}


.dep2wrap{
    z-index: 9099;
}

.dep2wrap.LaneigeStory{
    display: none;
    width: auto;
    position: absolute;
    top: 70px;
    margin-left: -30px;
    background: #ffffff;
    border-width: 0 1px 1px 1px;
    border-color: #000000;
    border-style: solid;
}

.dep2wrap.LaneigeStory ul{
    border-top: none;
    width: auto;
    box-sizing: border-box;
}

.dep1 .dep2list{
    margin: 0 auto;
    padding: 10px 0;
  
}

.dep2list .dep2>a{
    display: block;
    font-size: 14px;
    padding: 9px 30px 9px 30px;
    box-sizing: border-box;
    
}

.dep2:first-child>a{
    padding-top: 15px;
}

.dep2wrap.Product{
    display: none;
    overflow: auto;
    height: auto;
    width: 100%;
    z-index: 20px;
    padding-left: 20px;
    position: fixed;
    top: 162px;
    left: 0;
    font-size: 14px;
    background: #ffffff;
    border-width: 2px 0 1px 0;
    border-style: solid;
    height: 72px;
}

.dep2wrap.Product ul{
    display: table;
    border-top: none;
    box-sizing: border-box;
}

.Product .dep2list{
    margin-left: 618.063px;
    width: auto;
    padding: 0;
    margin: 0;
    text-align: left;
    left: -190px;
}
.dep2wrap.Product ul li{
    display: inline-block;
}

.Product .dep2{
    height: 72px;
}

.Product .dep2:first-child>a{
    background: none;
}

.Product .dep2list .dep2>a{
    padding: 27px 10px 27px 30px;
    display: block;
    font-size: 14px;
}

.Product .dep2>a{
    position: relative;
}

.dep2wrap.HowTo{
    display: none;
    width: auto;
    top: 70px;
    margin-left: -5px;
    position: absolute;
    background: #ffffff;
    border-width: 0 1px 1px 1px;
    border-style: solid;
}

.dep2wrap.HowTo ul{
    border-top: none;
    width: auto;
    box-sizing: border-box;
}

.dep2wrap.FindYourBeauty{
    display: none;
    width: auto;
    top: 70px;
    margin-left: -5px;
    position: absolute;
    background: #ffffff;
    border-width: 0 1px 1px 1px;
    border-style: solid;
}

.dep2wrap.MyLaneige{
    display: none;
    width: auto;
    top: 70px;
    margin-left: -50px;
    position: absolute;
    background: #ffffff;
    border-width: 0 1px 1px 1px;
    border-style: solid;
}
.gnbutil{
    position: absolute;
    right: 30px;
    top: 120px;
    z-index: 9001;
}

.gnbutil .header_totsch {
    float: left;
}

.gnbutil .header_totsch button {
    width: 20px;
    display: block;
    padding: 12px;
    box-sizing: content-box;
    cursor: pointer;
    background: transparent;
    border: none;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.totsch_img{
    width: 100%;
    vertical-align: top;
}



