@charset "utf-8";


#wrap {
    width: 100%;
    height: auto;
}

/*main 시작*/

/*main gallery시작*/

.container {
    width: 100%;
    height: auto;
    position: relative;
    min-height: 300px;
}

.container .mainContent {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
.container .mainContent .galleryContents {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
}

/*----------------------------------------------------------*/

/*UISlider 시작*/

.UISlider_container{
    width: 100%;
    max-width: 1600px;
    height: 650px;
}


.UISlider_container .UISlider_content{
    width: 100%;
    max-width: 1540px;
    height: 650px;
    margin: 0 auto;
    overflow: hidden;
}



.UISlider_container .UISlider_content .UISlider_item{
     width: 600%;
    height: 650px;
    left: -100%;
}

.UISlider_box{
    width: 100%;
    max-width: 1540px;
    height: 650px;
    float: left;
    position: relative;
    
}

.UISlider_box a.sliderbox_a{
    display: block;
    width: 100%;
    max-width: 1540px;
    height: 650px;
    
}

.slider_itemtxt{
    width: 100%;
    height: 100%;
    padding: 120px 154px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    
}

.slider_itemtxt p.tit{
    font-size: 40px;
    padding-bottom: 15px;
    font-weight: bold;
    
}

.slider_itemtxt p.des{
    font-size: 20px;
}

.slider_imgwrap{
    width: 100%;
    max-width: 1540px;
    height: 650px;
    position: absolute;
    top: 0;
    left: 0;
}

.control_btn:hover{
    top: -16px;
    
}

.control_btn:active{
    top: -31px;
}

.off{
    background: url(../img/slider/btn_off.png) no-repeat;
}
.on {
    background: url(../img/slider/btn_on.png) no-repeat;
    
}


/*UISlider 끝*/

/*--------------------------------------------------------------------------*/

/*슬라이드 버튼 시작*/

.gnb_kv {
    width: 100%;
    height: 28px;
    position: absolute;
    bottom: 50px;
    left: 0;
}

.gnb_kv .play_btn .play {
    width: 29px;
    height: 28px;
    background: url(../img/main_kv_banner/slider-controller-play.png) no-repeat 50%;
    position: absolute;
    top: 0;
    left: 48%;
    display: none;
}

.gnb_kv .play_btn .stop {
    width: 29px;
    height: 28px;
    background: url(../img/main_kv_banner/slider-controller-stop.png) no-repeat 50%;
    position: absolute;
    top: 0;
    left: 48%;
}

.gnb_kv .gnb_btn {
    margin: 0 auto;
    width: 179px;
    position: absolute;
    top: 25%;
    left: 50%;
}

.gnb_kv .gnb_btn ul li {
    margin: 0 auto;
    float: left;
    width: 29px;
    height: 15px;
    background: url(../img/slider/btn_off.png) no-repeat;
    cursor: pointer;

}
/*슬라이드 버튼 끝*/

/*----------------------------------------------------------------------*/

/*화살표 버튼 시작*/

.arrow_kv .leftArrow {
    width: 60px;
    height: 60px;
    background: url(../img/arrow/visual-arrow-left.png) no-repeat 50%;
    position: absolute;
    top: 300px;
    left: 50px;
    z-index: 10;
}

.arrow_kv .rightArrow {
    width: 60px;
    height: 60px;
    background: url(../img/arrow/visual-arrow-right.png) no-repeat 50%;
    position: absolute;
    top: 300px;
    right: 50px;
    z-index: 10;
}

/*화살표 버튼 끝*/
/*main gallery 끝*/

/*=======================================================================*/

/*category section 시작*/
.category_section {

    width: 100%;
    max-width: 1600px;
    height: 219px;
}

.category_section .custom_main_box {
    width: 25%;
    height: 59px;
    float: left;
    position: relative;
    top: 80px;
}

.category_section .custom_main_box a {
    display: block;
    width: 340px;
    height: 59px;
    margin: 0 auto;
    border-left: 1px solid;
    border-bottom: 1px solid;
}

.category_section .custom_main_box a.img1 {
    background: url(../img/banner_bg/banner-bg01.jpg) no-repeat right;
    border-color: #3fbef3;
}

.category_section .custom_main_box a.img2 {
    background: url(../img/banner_bg/banner-bg02.jpg) no-repeat right;
    border-color: #ff94b7;
}

.category_section .custom_main_box a.img3 {
    background: url(../img/banner_bg/banner-bg03.jpg) no-repeat right;
    border-color: #668be0;
}

.category_section .custom_main_box a.img4 {
    background: url(../img/banner_bg/banner-bg05.jpg) no-repeat right;
    border-color: #a5a5a5;
}

.category_section .custom_main_box a span {
    display: block;
    width: 97.55px;
    height: 24px;
    padding-left: 30px;
    font-weight: bold;
    position: absolute;
    top: 17.5px;
    left: 30px;
    
    font-size: 16px;
}
/*category section 끝*/

/*================================================================*/

/*bestseller section 시작*/

.bestseller_section {
    width: 100%;
    max-width: 1600px;
    height: 834px;
    
    
}

.bestseller_section .bestseller_wrap {
    width: 100%;
    max-width: 1540px;
    height: 734px;
    margin: 0 auto;
}

.bestseller_section .bestseller_wrap h2.bst_tit {
    height: 54px;
}

.bestseller_section .bestseller_wrap .bestseller_container {
    width: 100%;
    max-width: 1540px;
    height: 680px;

}
/*------------------------------------------------------------*/

/*베스트셀러 제품 이미지 버튼 시작*/

.bst_product {
    width: 100%;
    height: 270px;

    border-bottom: 1px solid #e4e4e4;
}

.bst_product button {
    width: 308px;
    height: 270px;
    background: transparent;
    border-color: transparent;
    float: left;
}

.bst_product button span.product_box {
    display: block;
    width: 308px;
    height: 220px;
    float: left;

}

.bst_product button span.product_box img {
    width: 180px;
    height: 180px;

}


.bst_product button span.product_box span.product_txt {
    display: block;
    width: 308px;
    height: 40px;
}

/*베스트셀러 제품 이미지 버튼 끝*/

/*-----------------------------------------------------------------------*/

/*베스트셀러 이미지 슬라이드 시작*/

.bst_sliderWrap {
    width: 100%;
    max-width: 1540px;
    height: 380px;
    margin: 0 auto;

    position: relative;
    
    
    
}

/*베스트셀러 화살표 버튼 시작*/

.bst_arrow .leftArrow {
    width: 60px;
    height: 60px;
    background: url(../img/arrow/visual-arrow-left.png) no-repeat 50%;
    position: absolute;
    top: 50%;
    left: 15px;
    z-index: 9;
}

.bst_arrow .rightArrow {
    width: 60px;
    height: 60px;
    background: url(../img/arrow/visual-arrow-right.png) no-repeat 50%;
    position: absolute;
    top: 50%;
    right: 15px;
    z-index: 9;
}

/*베스트셀러 화살표 버튼 끝*/

/*------------------------------------------------------------------------------------*/

/*베스트셀러 슬라이드 버튼 시작*/

.bst_gnb {

    width: 100%;
    height: 28px;
    position: absolute;
    bottom: 50px;
    left: 0;
    z-index: 9;
}

.bst_gnb .play_btn .play {

    width: 29px;
    height: 28px;
    background: url(../img/main_kv_banner/slider-controller-play.png) no-repeat 50%;
    position: absolute;
    top: 0;
    left: 48%;
    display: none;
}

.bst_gnb .play_btn .stop {
    width: 29px;
    height: 28px;
    background: url(../img/main_kv_banner/slider-controller-stop.png) no-repeat 50%;
    position: absolute;
    top: 0;
    left: 48%;
}

.bst_gnb .gnb_btn {
    margin: 0 auto;
    width: 179px;
    position: absolute;
    top: 25%;
    left: 50%;

}

.bst_gnb .gnb_btn ul li {
    margin: 0 auto;
    float: left;
    width: 29px;
    height: 15px;
    background: url(../img/main_kv_banner/slider-pager-normal-shadow.png) no-repeat;

}
/*베스트셀러 슬라이드 버튼 끝*/

/*----------------------------------------------------------------------------------*/

/*베스트셀러 슬라이드 시작*/
.UISlider_content{
    overflow: hidden;
}

.bst_slider{
    width: 500%;
    height: 380px;
    
    
}

.bst_UISlider_box{
    width: 100%;
    max-width: 1540px;
    height: 380px;
    float: left;
    
    
}

.bst_UISlider_box a.bst_a{
    display: block;
    width: 100%;
    max-width: 1540px;
    height: 380px;
    position: relative;
}

.bst_itemTxt{
    width: 100%;
    max-width: 1540px;
    height: 176px;

    position: absolute;
    top: 30%;
    left: 0;
    /*background: #ccc;*/

}

.bst_itemTxt p.itemBox{
    display: table;
    width: 30%;
    height: 146px;
    margin: 0 auto;
    border: 1px solid;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    padding: 14px;
}

.bst_itemTxt p.itemBox span.itembox_border{
    display: block;
    width: 434px;
    height: 118px;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
    margin: 0 auto;
    background: #ccc;
   
    
}


/*베스트셀러 슬라이드 끝*/
/*베스트셀러 이미지 슬라이드 끝*/
/*bestseller section 끝*/

/*============================================================================*/

/*event 시작*/
.event_section {
    width: 100%;
    max-width: 1600px;
    height: 532px;
   
}

.event_section .event_wrap{
    width: 100%;
    max-width: 1540px;
    height: 392px;
    position: relative;
    margin: 0 auto;
}

.event_section .event_wrap h2.event_tit{
    height: 39px;
}

.event_section .event_wrap .event_slider_wrap{
    width: 100%;
    max-width: 770px;
    height: 353px;
}

.event_section .event_wrap .event_slider_wrap.left{
    position: absolute;
    top: 39px;
    left: 0;
    
}

.event_section .event_wrap .event_slider_wrap.right{
    position: absolute;
    top: 39px;
    right: 0;
}

.event_slider_wrap .event_slider .event_UISlider{
    width: 100%;;
    max-width: 770px;
}


.event_slider_wrap .event_slider .event_container{
    width: 100%;
    max-width: 770px;
    height: 353px;
    
    position: relative;
}

.event_content{
    overflow: hidden;
}

.event_content ul{
    width: 200%;
    height: 353px;
}
.event_box{
    width: 100%;
    max-width: 770px;
    height: 353px;
    position: relative;
    float: left;
}

.event_box a.event_a{
    display: block;
    width: 100%;
    max-width: 765px;
    height: 353px;
    
}

.event_itemTxt{
    width: 100%;
    max-width: 765px;
    height: 353px;
    padding: 40px 60px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.event_itemTxt p.tit{
    font-size: 30px;
   
    font-weight: bold;
    letter-spacing: -1px;
    
    margin-bottom: 15px;
    box-sizing: border-box;
}

.event_itemTxt p.des{
    font-size: 16px;
    
    letter-spacing: -1px;
}

.event_img{
    width: 100%;
    max-width: 765px;
    height: 353px;
    position: absolute;
    top: 0;
    left: 0;
}

/*----------------------------------------------------------------------*/
/*이벤트 슬라이드 버튼 시작*/
.event_slider{
    position: relative;
}

.event_slider .event_UISlider {
    width: 100%;
    max-width: 765px;
    height: 28px;
    position: absolute;
    bottom: 5%;
    z-index: 9;
    
    
}

.event_gnb .play_btn .play {
    width: 29px;
    height: 28px;
    background: url(../img/main_kv_banner/slider-controller-play.png) no-repeat 50%;
    position: absolute;
    top: 0;
    left: 45%;
    display: none;
}

.event_gnb .play_btn .stop {
    width: 29px;
    height: 28px;
    background: url(../img/main_kv_banner/slider-controller-stop.png) no-repeat 50%;
    position: absolute;
    top: 0;
    left: 45%;
}

.event_gnb .event_btn {
    margin: 0 auto;
    width: 179px;
    position: absolute;
    top: 25%;
    left: 50%;
}

.event_gnb .event_btn ul li {
    margin: 0 auto;
    float: left;
    width: 29px;
    height: 15px;
    background: url(../img/main_kv_banner/slider-pager-normal-shadow.png) no-repeat;
}
/*이벤트 슬라이드 버튼 끝*/
/*event 끝*/

/*======================================================================================*/

/*sparkling beauty 시작*/
.sparkling_section{
    width: 100%;
    max-width: 1600px;
    height: 570px;
}

.sparkling_section .sparkling_wrap{
    width: 100%;
    max-width: 1540px;
    height: 430px;
    margin: 0 auto;
    
    position: relative;
}

.sparkling_section .sparkling_wrap h2.sparkling_tit{
    height: 39px;
}

.sparkling_section .sparkling_wrap .sparkling_container{
    width: 100%;
    max-width: 1540px;
    height: 376px;
    
}

.main_banner{
    width: 100%;
    max-width: 340px;
    height: 376px;
    background: url(../img/spakling_beauty/sparkling-titbg.jpg) no-repeat 50%;
    position: relative;
}


.main_banner p.main_banner_tit{
    width: 100%;
    max-width: 280px;
    height: 147px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0 0 20px;
    box-sizing: border-box;
}

.main_banner p.main_banner_tit span{
    display: block;
    width: 100%;
    max-width: 280px;
    height: 54px;
    font-size: 20px;
    margin-bottom: 25px;
}

.sparkling_cardbox{
    width: 100%;
    max-width: 1540px;
    height: 376px;
    position: absolute;
    top: 39px;
    left: 0;
}

.sparkling_cardbox .sparkling_cardline.line1{
    width: 100%;
    max-width: 1190px;
    height: 198px;
    position: absolute;
    top: 0;
    right: 0;
    padding-bottom: 20px;
    box-sizing: border-box;
    background: url(../img/spakling_beauty/sparkling-thumb-bgright.gif) right top no-repeat;
}


.sparkling_cardbox .sparkling_cardline.line2{
    width: 100%;
    max-width: 1190px;
    height: 178px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(../img/spakling_beauty/sparkling-thumb-bgleft.gif) left top no-repeat;
}


.sparkling_cardline .sparkling_imgbox.line_1_img{
    width: 16.66%;
    float: left;    
    
    
}


.sparkling_cardline .sparkling_imgbox.line_2_img{
    width: 16.66%;
    float: right;    
    
    
    
}
.sparkling_cardline .sparkling_imgbox img{
    width: 100%;
    max-width: 178.25px;
    height: 178.25px;
}
/*sparkling beauty 끝*/

/*=====================================================================================*/

/*kbeauty 시작*/
.kbeauty_section{
    width: 100%;
    max-width: 1600px;
    height: 642px;
    
}

.kbeauty_section .kbeauty_wrap{
    width: 100%;
    max-width: 1540px;
    height: 502px;
    margin: 0 auto;
    position: relative;
}

.kbeauty_section .kbeauty_wrap .kbeauty_tit{
    width: 100%;
    max-width: 200px;
    height: 200px;
    
    background: url(../img/school_of_k_beauty/kbeauty-titbg.png) no-repeat left top;
    
    position: relative;
    z-index: 9;
    
}

.kbeauty_tit h2.kbeauty_howto{
    width: 200px;
    height: 200px;
    padding-left: 25px;
    padding-top: 90px;
    box-sizing: border-box;
}

.kbeauty_container{
    width: 100%;
    max-width: 1540px;
    height: 442px;
    position: absolute;
    top: 60px;
    left: 0;

}

.kbeauty_container .main_view{
    width: 100%;
    max-width: 770px;
    height: 442px;
    position: absolute;
    bottom: 0;
    left: 80px;
    padding: 0 20px 0 60px;
    box-sizing: border-box;
    
}

.kbeauty_container .main_view p.main_view_box{
    width: 100%;
    max-width: 600px;
    height: 442px;
    position: relative;
}
.kbeauty_container .main_view p.main_view_box a.main_view_a{
    display: block;
    width: 100%;
    max-width: 600px;
    height: 442px;
}

.kbeauty_container .main_view p.main_view_box a.main_view_a img.video_img{
    width: 100%;
    max-width: 600px;
    height: 442px;
}

.kbeauty_container .main_view p.main_view_box a.main_view_a span.video_play{
    display: block;
    width: 100%;
    max-width: 600px;
    height: 442px;    
    background: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: 0;

}

a span.video_play img{
    position: absolute;
    top: 42%;
    left: 42%;
    
}

.kbeauty_content_wrap{
    width: 100%;
    max-width: 770px;
    height: 442px;
    position: absolute;
    bottom: 0;
    right: 0;

}


.kbeauty_content_wrap .kbeauty_conbox{
    width: 100%;
    max-width: 750px;
    height: 168px;
}

.kbeauty_content_wrap .kbeauty_conbox strong.main_tit{
    display: block;
    width: 100%;
    max-width: 750px;
    height: 71px;
    font-size: 38px;
   
    letter-spacing: -1px;
    padding: 7px 0 15px 0;
    
    
}

.kbeauty_content_wrap .kbeauty_conbox p.k_des{
    width: 100%;
    max-width: 750px;
    height: 61px;
    padding-bottom: 25px;
    font-size: 14px;
    box-sizing: border-box;
}
.kbeauty_content_wrap .kbeauty_conbox a.view{
    display: block;
    width: 100%;
    max-width: 160px;
    height: 36px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
}

.kbeauty_content_wrap .kbeauty_related{
    width: 100%;
    max-width: 770px;
    height: 207px;
    
    position: absolute;
    bottom: 0;
    
}

.kbeauty_content_wrap .kbeauty_related .related_wrap{
    
}

.kbeauty_content_wrap .kbeauty_related strong.related_tit{
    display: block;
    width: 100%;
    max-width: 120px;
    height: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background: url(../img/school_of_k_beauty/kbeauty-relatied-titbg.gif) no-repeat right;
}

.related_wrap{
    width: 100%;
    max-width: 750px;
    height: 177px;
    
    
    
}

.related_wrap .related_thumb{
    width: 100%;
    max-width: 187.5px;
    height: 167px;
    
    position: relative;
    float: left;
    
}

.related_wrap .related_thumb a.thumb{
    display: block;
    width: 100%;
    max-width: 177.5px;
    height: 167px;
    margin: 0 auto;
    
    position: relative;
    
}

.related_wrap .related_thumb a.thumb p.thumbBox{
    width: 100%;
    max-width: 177.5px;
    height: 167px;
    margin: 0 auto;
}

a.thumb p.thumbBox img.thumbBox_img{
    width: 100%;
    max-width: 173px;
    height: 127.31px;
}
p.thumbBox span.thumb_bk{
    display: block;
    width: 100%;
    max-width: 173px;
    height: 127.31px;
    background: rgba(0,0,0,0.2);
    
    position: absolute;
    top: 0;
    left: 0;
}

a.thumb p.thumbBox span.thumb_bk img.play_btn{
    display: block;
    width: 46px;
    height: 46px;
    position: absolute;
    top: 25%;
    left: 37%;
}

a.thumb p.thumbTxt{
    display: block;
    width: 100%;
    max-width: 173px;
    height: 40px;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-top: 7px;
    box-sizing: border-box;
   
    letter-spacing: -1px;
    
}
/*kbeauty 끝*/

/*=====================================================================================*/

/*Magazine시작*/
.magazine_section{
    width: 100%;
    max-width: 1600px;
    height: 740px;
}

.magazine_section .magazine_wrap{
    width: 100%;
    max-width: 1540px;
    height: 740px;
    margin: 0 auto;
    position: relative;
}

.magazine_section .magazine_wrap .magazine_txtcon{
    width: 100%;
    max-width: 655px;
    height: 600px;
    background: #f7f7f7;
    position: absolute;
    top: 0;
    left: 0;
}

.magazine_txtcon h2.contit{
    display: block;
    width: 100%;
    max-width: 655px;
    height: 154px;
    padding-left: 30px;
    padding-top: 100px;
    box-sizing: border-box;
}

.magazine_txtcon .txtcon_box{
    width: 100%;
    max-width: 655px;
    height: 325px;
}

.txtcon_box strong.txt_tit{
    display: block;
    font-size: 20px;
    padding-left: 30px;
    margin-bottom: 30px;
    height: 50px;
    line-height: 50px;
    background: url(../img/magazine_bar/magazine-barbg-1803.jpg) no-repeat;
}

.txtcon_box strong.txt_mid_des{
    display: block;
    font-size: 40px;
    padding: 0 30px 35px;
}

.txtcon_box p.txt_des{
    font-size: 14px;
    padding: 0 30px 0;
    max-height: 150px;

}


.magazine_wrap .magazine_txtcon .txtcon_box a.mag_view{
    display: block;
    width: 100%;
    max-width: 160px;
    height: 36px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    margin-left: 30px;
    margin-top: 30px;
}

.magazine_img{
    width: 100%;
    max-width: 885px;
    height: 600px;
    position: absolute;
    top: 0;
    right: 0;
}

.magazine_img .img_left{
    width: 100%;
    max-width: 520px;
    height: 600px;
}

.img_left img.flower{
    width: 100%;
    max-width: 500px;
    height: 600px;
}

.magazine_img .img_right{
    width: 100%;
    max-width: 365px;
    height: 600px;
    position: absolute;
    top: 0;
    right: 0;
}

.img_right .right_up{
     width: 100%;
    max-width: 365px;
    height: 370px;
}

.img_right .right_down{
     width: 100%;
    max-width: 365px;
    height: 230px;
}

/*Magazine끝*/



/*main 끝*/
/*=====================================================================================*/


/*Main Bottom 시작*/
#wrap .container .mainBottomContent{
    width: 100%;
    max-width: 1540px;
    height: 470px;
    margin: 0 auto;
    border: 2px solid;
    box-sizing: border-box;
    position: relative;
}


.main_link_section{
    width: 100%;
    max-width: 462px;
    height: 330px;
    float: left;
}


.main_link_section .finderMirror_wrap{
    width: 100%;
    max-width: 382px;
    height: 330px;
    position: relative;
}

.finderMirror_wrap a.finderM_a{
    display: block;
    width: 100%;
    max-width: 382px;
    height: 330px;
    background: url(../img/finder_mirror/contents-linebg.gif) no-repeat top right;
}

a.finderM_a h2.f_tit{
    width: 100%;
    max-width: 382px;
    padding-top: 25px;
}

a.finderM_a p.finderMirror_contxt{
    width: 100%;
    max-width: 382px;
    display: block;
    font-size: 14px;
    padding-top: 25px;
    
}

.finderMirror_img{
    width: 382px;
    height: 257px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
}

.finderMirror_img img{
    display: block;
    margin: 0 auto;
}


/*-------------------------------------------------------------------------------------*/

/*facebook section 시작*/
.sns_feed_section{
    width: 100%;
    max-width: 562.39px;
    height: 330px;
    border: 1px solid;
    position: absolute;
    top: 0;
    right: 0;
}

.sns_feed_section .facebook_wrap{
    width: 100%;
    max-width: 562.39px;
    height: 330px;
    
    background: url(../img/facebook/facebook-boxbg.png) no-repeat right top rgb(59,89,152);
}

.facebook_wrap h2.f_tit{
    width: 100%;
    max-width: 616px;
    
    padding-top: 25px;
    padding-left: 40px;
    box-sizing: border-box;
    color: #fff;
    
}

.facebook_wrap p.f_logo{
    display: block;
    position: absolute;
    top: 0;
    right: 60px;
}

.facebook_slider .facebook_slider_gnb{
    width: 100%;
    height: 16px;
}

.facebook_slider_wrap{
    width: 100%;
    max-width: 616px;
    height: 330px;
    overflow: hidden;
}

.facebook_slider_wrap div{
    
}

.facebook_slider_wrap ul{
    width: 400%;
    height: 188px;
    margin-left: 20px;
    border: 2px solid #f00;
}

.facebook_slider_wrap ul li{
    width: 100%;
    max-width: 536px;
    height: 188px;
    border: 2px solid;
    float: left;
}

a.slide_a{
    display: block;
    width: 100%;
    max-width: 516px;
    height: 188px;
        background: #fff;
    
}

a.slide_a img{
    display: block;
    width: 188px;
    height: 188px;

    
}
.txt_left{

    position: relative;
    
}

.f_slider_itemtxt{
    width: 100%;
    max-width: 328px;
    height: 188px;
    position: absolute;
    right: 0;
    top: 0;
}

.f_slider_itemtxt p.slider_des{
    width: 100%;
    max-width: 288px;
    height: 126px;
    color: #3b5998;
    line-height: 20px;
    vertical-align: middle;
    margin-top: 20px;
    
}

.slider_itemtxt_bot{
    width: 100%;
    max-width: 130.73px;
    height: 18px;
    margin-top: 10px;
    box-sizing: border-box;
    
}

.slider_itemtxt_bot span.like{
    display: block;
    
    background: url(../img/facebook/facebook-like.gif) no-repeat;
}

/*facebook section 끝*/




/*Main Bottom 끝*/

/*=====================================================================================*/

