@charset "utf-8";

.subPage_wrap{
    width: 100%;
    height: 100%;
    position: relative;
}

.container{
    width: 100%;
    height: auto;
    
    margin: 0 auto;
    position: relative;
    top: 175px;
    
}

/*section nav 시작*/
.section_nav{
    width: 100%;
    height: 56px;
    padding: 16px 30px 16px 30px;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 40px;
}

.section_nav .section_nav_wrap{
    padding-left: 20px;
    max-width: 1260px;
    margin: 0 auto;
}

.nav_bar{
     background: url(../img/story/breadcrumbs-arrow.gif) right center no-repeat;
}

.section_nav .section_nav_wrap span{
    padding-right: 15px;
    padding-left: 15px;
}

/*section nav 끝*/

.section_wrap{
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
}

.section_story{
    width: 100%;
}

.section_story h2.title{
    text-align: center;
    font-size: 30px;
    font-family: '나눔바른고딕';
    font-weight: 450;
    
    margin-bottom: 40px;
}

/*스토리 섹션 시작*/
.story_bg{
    width: auto;
    height: 315px;
    background: url(../img/story/story-visual-01.jpg)
}


.story_txtbox{
    width: 100%;
    height: 100%;
    font-size: 30px;
    
    font-family: 'Arita Sans';
    font-weight: 600;
    padding: 100px;
}

.story_txtbox p.story_tit{
    color: rgb(60, 131, 198);
    font-size: 40px;
}

.story_txtbox p.story_des{
    color: rgb(166, 111, 179);
}


/*스토리 섹션 끝*/

/*컨셉 섹션 시작*/
.section_concept{
    width: 100%;
    height: 100%;
    margin-top: 60px;
}

.section_concept h2.con_tit{
    
    margin-bottom: 40px;
    padding-left: 10%;
    font-size: 18px;
    font-family: 'Arita Sans';
    color: rgb(60, 131, 198);
}

.section_concept h2.con_tit::after{
    content: "";
    width: 40px;
    height: 40px;
    background: url(../img/story/story-tit-bg.png) no-repeat;
}
.concept_txtbox{
    width: 100%;
    height: 500px;
}

.concept_txtbox .concept_tit{
    text-align: center;
    color: rgb(60, 131, 198);
    font-family: '나눔바른고딕';
    font-size: 30px;
    margin-bottom: 40px;
}


.concept_tit p.two{
    font-weight: 500;
}


.concept_des{
    text-align: center;
    font-family: '나눔바른고딕';
    line-height: 2;
}


.concept_des p.mid{
    margin-bottom: 40px;
}

.concept_des p.bottom{
    font-size: 20px;
}

.concept_img{
    text-align: center;
}

.concept_img img{
    margin-right: 50px;
}














