@charset "utf-8";

html,body,ul,li,button{
    margin: 0;
    padding: 0;
}

img{
    display: block;
    border: 0;
}

button{
    border: 0;
    background: none;
    z-index: 2;
}


.slide{
    width: 1540px;
    height: 650px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    border: 2px solid;
}

.slide ul{
    width: 500%;
    list-style: none;
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    
}

.slide ul li{
    display: inline-block;
    
    
}

.slide button.prev{
    position: absolute;
    left: 0;
    top: 50%;
}

.slide button.next{
    position: absolute;
    right: 0;
    top: 50%;
}